.jumpDiv{
width:98%; 
height:30px; 
margin:auto; 
text-align:center; 
font-family:'Times New Roman', Times, serif; 
font-weight:800;
}

.jumpSpan{
width:98%; 
height:30px;  
text-align:left; 
font-family:'Times New Roman', Times, serif; 
font-weight:800;
}







